@tailwind base;
@tailwind components;
@tailwind utilities;

.selector::-webkit-scrollbar {
    width: 20px;
}

.selector::-webkit-scrollbar-track {
    box-shadow: 0 0 6px 1px #737373 inset;
    border-radius: 3px;
    @apply bg-gray-300;
}

.selector::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #606060;
}
